.navbar {
  position: fixed; /* ติดด้านบน */
  top: 0;
  left: 0;
  width: 100%;
  height: 70px; /* กำหนดความสูง navbar */
  z-index: 9999; /* ให้อยู่เหนือทุก element */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  .navbar-content {
    display: flex;
    align-items: center;

    img {
      padding: 7px;
    }

    .navbar-toggler {
      margin-right: 1rem;
    }
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 70px; /* ตรงกับ navbar */
  left: -270px; /* เริ่มซ่อนไว้ */
  width: 270px;
  height: calc(100% - 70px); /* ครอบคลุมพื้นที่ด้านล่าง navbar */
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  overflow-y: auto;
  z-index: 1030;

  &.sidebar-open {
    left: 0;
  }

  .sidebar-item {
    display: flex;
    flex-direction: column;

    .sidebar-link {
      display: flex;
      align-items: center;
      padding: 12px 18px;
      color: #333;
      text-decoration: none;
      font-weight: 500;
      transition: all 0.2s ease;
      cursor: pointer;

      font-size: 14px;
      font-weight: 600;
      margin-top: 8px;

      &:hover {
        background-color: #f5f5f5;
        color: #006633;
      }

      &.active {
        border-radius: 10px;
        margin: 10px;
        background-color: #007a3d; 
        color: #fff;

        img.sidebar-icon {
          filter: brightness(0) invert(1);
        }
      }

      .sidebar-icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        opacity: 0.85;
      }

      i {
        margin-left: auto;
        font-size: 0.8rem;
      }
    }

    .submenu {
      padding-left: 30px;

      .sidebar-link {
        padding: 8px 18px;
        font-weight: 400;
        font-size: 0.9rem;
      }
    }
  }
}

.main-content {
  &.sidebar-open {
    margin-left: 270px; /* ดันเนื้อหาเมื่อ Sidebar เปิด */
  }
}

/* Footer */
footer {
  background-color: #047857;
  color: #fff;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .footer-left,
  .footer-right {
    display: flex;
    flex-direction: column;
  }

  .sub-footer {
    font-size: 12px;
    letter-spacing: 0.25px;
    white-space: nowrap;
    margin: 2px 0;
  }

  .sub-footer-2 {
    padding-left: 80px;
  }

  .social-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;

    .btn-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #383d38;
      border: none;
      border-radius: 50%;
      padding: 8px;
      cursor: pointer;
      transition: all 0.3s ease;

      img {
        width: 24px;
        height: 24px;
        filter: brightness(0) invert(1);
      }

      &:hover {
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}
