@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;700&display=swap');

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  font-family: 'IBM Plex Sans Thai', sans-serif;      
}

